# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production-min-32-chars"
AUTH_SECRET="your-super-secret-key-change-in-production-min-32-chars"

# Admin (Initial setup)
ADMIN_EMAIL="admin@arel.edu.tr"
ADMIN_PASSWORD="Admin@Arel2026!"